
# Build and compiled files
.php-cs-fixer.cache

# Temporary and system files
*:Zone.Identifier

# Backup files
*.backup
*.backup.*
*.bak
*.old
*.old1

# Documentation and cache
docs/phpstan/

# Other
**/*.Zone.Identifier
-e
