
# Dependencies and packages
node_modules/
package-lock.json
vendor/

# Build and compiled files
*.cache
*.lock
*.phar
.php-cs-fixer.cache
/build

# Log files
*.log

# Git specific
.git-blame-ignore-revs
.git-rewrite/

# Temporary and system files
*.exe
*:Zone.Identifier

# Backup files
*.backup
*.bak
*.old
*.old1

# Documentation and cache
cache/
docs/cache/
docs/phpstan/
